@import "tailwindcss";

:root {
  --bg2: #cbb6fe; /* #dbdbdb */
  --bg: #ebebeb; /* #ebebeb*/
  --surface: #0A1725;
  --primary: #6b4793;
  --text: #d8d8d8;
  --text-muted: #64748b;
  --text-dark: #242424;
  --border: #e2e8f0;
  --accent: #cbb6fe;
}

@theme inline {
  --color-background: var(--bg);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--bg);
  color: var(--foreground);
  font-family: 'Times New Roman', Times, serif;
}
